abbr {
  text-decoration: none !important;
}

.content-area {
  height: calc(100vh - theme('spacing[28]'));
}

.main-back {
  background: url($imatge-main-fons);
}

.main-mx-w {
  max-width: 1800px;
}

.p-r-per-5 {
  padding-right: 5%;
}

.p-l-per-5 {
  padding-left: 5%;
}

.text-size-1-25-rem {
  font-size: 1.25rem;
}

/* stylelint-disable number-leading-zero, max-line-length */
.nav-text-color {
  color: hsla(0, 0%, 100%, .5);
}

.nav-text-color-hov {
  color: hsla(0, 0%, 100%, .75);
}

.active-nav {
  color: white;
}

.burguer-color {
  color: hsla(0, 0%, 100%, .5);
}

.burguer-border-color {
  border-color: hsla(0, 0%, 100%, .1);
}
  
.burguer-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.burguer-icon-content {
  content: "";
}

@layer components {
  .btn-burguer {
    @apply burguer-color lg:hidden py-1 px-3 text-lg bg-transparent border border-solid burguer-border-color rounded;
  }

  .logo {
    @apply flex m-0 items-center justify-around py-1 text-lg whitespace-nowrap no-underline bg-transparent;
  }

  .fab-btn {
    @apply flex items-center justify-around mt-0 mr-0 mb-0 ml-3.5 py-1.5 text-xl leading-5 text-white;
  }
  /* stylelint-enable number-leading-zero, max-line-length */
}
