.card-mx-w {
  max-width: 18.75rem;
}

.card-mx-h {
  max-height: 28.2rem;
}

.card-img {
  height: 45%;
}

.card-body-h {
  height: 55%;
}

.card-body-flex-b {
  flex-basis: auto;
}

@layer components {
  /* stylelint-disable max-line-length */
  .card {
    @apply relative flex flex-col min-w-0 bg-white bg-clip-border border-2 border-solid border-primary rounded-md w-full card-mx-w h-full card-mx-h m-10;
  }
  /* stylelint-enable max-line-length */
}
