.min-h-224p {
  min-height: 224px;
}

.min-h-320p {
  min-height: 320px;
}

.info-bg {
  background: url($imatge-information-head);
}

.info-mx-w {
  max-width: 900px;
}

.p-inline-start {
  padding-inline-start: 40px;
}

li::marker {
  font-size: 2rem;
}
